<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> {{ appVersion }}
  </div>
    <div class="pull-right hidden-xs" style="margin-right: 10px;">
                <a href="assets/download/docs_*-*_manuel-utilisateur_*-*_MANUELS_UTILISATEURS.zip">Telechargez les
                    manuels utilisateurs</a>
            </div>


            <strong>Copyright &copy; 2018-{{currentYear}} <a href="https://zenitheinsurance.com" target="_blank">ZENITHE
                    Insurance</a>.</strong> All rights reserved.
 
</footer>
 