<body class="login-page">
   <p-toast position="top-right" [life]="5000"></p-toast>
  <!-- Loading Overlay -->
  <div class="loading-overlay" *ngIf="isLoading">
    <div class="loading-content">
      <div class="spinner"></div>
      <p class="loading-text">{{ 'connecting' | translate }}...</p>
      <div class="progress-bar-container">
        <div class="progress-bar" [style.width.%]="loadingProgress"></div>
      </div>
    </div>
  </div>

  <!-- Navbar -->
  <nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container">
      <div class="navbar-header navbar">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand"><b>ZENITHE Insurance</b></a>
      </div>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" [ngClass]="{'open': isOpen}">
            <a role="button" class="dropdown-toggle" (click)="toggleDropdown()">
              Language: {{ currentLanguage.name }} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li *ngFor="let lang of languages">
                <a role="button" (click)="selectLanguage(lang)" [class.active]="lang.code === currentLanguage.code">
                  {{ lang.name }}
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Login Form -->
  <div class="container">
    <div class="login-box" id="content_loginform">
      <div class="login-logo text-center">
        <a><b class="brand-main">ZENITHE </b>
        <span class="brand-sub">Insurance</span></a>
      </div>
      
      <div class="login-box-body card">
        <p class="login-box-msg text-center">{{"userlogin" | translate}}</p>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <!-- Champ login -->
          <div class="form-group has-feedback">
            <input type="text" formControlName="username" class="form-control" placeholder="{{'username' | translate}}" />
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
            <div *ngIf="f['username'].touched && f['username'].invalid" class="text-danger small">
              <div *ngIf="f['username'].errors?.['required']">{{'username' | translate}} is required</div>
              <div *ngIf="f['username'].errors?.['minlength']">Minimum 3 characters</div>
            </div>
          </div>

          <!-- Champ mot de passe -->
          <div class="form-group has-feedback">
            <input type="password" formControlName="password" class="form-control"
              placeholder="{{'password' | translate}}" />
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            <div *ngIf="f['password'].touched && f['password'].invalid" class="text-danger small">
              <div *ngIf="f['password'].errors?.['required']">{{'password' | translate}} is required</div>
              <div *ngIf="f['password'].errors?.['minlength']">Minimum 6 characters</div>
            </div>
          </div>

          <!-- Checkbox & Forgot Password -->
          <div class="form-group">
            <div class="row">
              <div class="col-xs-6">
                <div class="checkbox icheck">
                  <label>
                    <input type="checkbox" formControlName="remember"> {{'me' | translate}}
                  </label>
                </div>
              </div>
              <div class="col-xs-6 text-right">
                <a [routerLink]="['/forgot-password']" class="forgot-password-link">
                  {{'forgotPassword' | translate}}?
                </a>
              </div>
            </div>
          </div>

          <!-- Bouton submit -->
          <div class="form-group text-center">
            <button type="submit" class="btn btn-primary btn-flat btn-block" [disabled]="loginForm.invalid || isLoading">
              <span *ngIf="!isLoading">{{'username' | translate}}</span>
              <span *ngIf="isLoading">
                <i class="fa fa-spinner fa-spin"></i> {{'connecting' | translate}}...
              </span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="footer">
    <div class="container text-center">
      <div class="pull-right hidden-xs">
        <b>Version</b> {{appVersion}}
      </div>
      <p>&copy; 2018-{{currentYear}} <b><a href="https://zenitheinsurance.com" target="_blank">ZENITHE Insurance</a></b>. Tous droits réservés.</p>
      <p class="small">Conçu avec ❤️ par l'équipe IT</p>
    </div>
  </footer>
</body>