Options -Indexes

deny from all
<Files ~ "\.(jpg|jpeg|png|gif|ico|mp4|flv|ogg|webm|svg|txt|pdf|doc|docx)$">
   order deny,allow
   allow from all
</Files>
<IfModule mod_php5.c>
	php_flag engine off
</IfModule>